/*.c-form{
    margin: 10px 0px 5px 0px
}
.confrence-card{
    padding: 15px;
}
.confrence-card button{
    margin-top: 10px !important;
}*/
@keyframes example {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes form {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cross {
    position: fixed;
    top: 5px;
    left: 95%;
    font-size: 2em;
    color: #fff;
    float: right;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    z-index: 200;
    animation-name: form;
    animation-duration: 4s
}

.modal-form {
    position: fixed !important;
    top: 0;
    left: 0px;
    opacity: 0.8;
    right: 100px;
    width: 100% !important;
    height: 100%;
    z-index: 100 !important;
    background-color: #fa840e;
    padding: 0px;
    animation-name: example;
    animation-duration: 1s;
}

.btn-custom {
    background-color: #fa840e !important;
    color: #fff;
}

.btn-custom:hover {
    background-color: #eb7f14 !important;
}

.center {
    position: fixed;

    top: 25%;
    left: 40%;

    z-index: 9900 !important;
    animation-name: form;
    animation-duration: 2s
}

.event-registration-card {
    width: 400px;
}

.form-card {
    padding: 30px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.477)
}

@media screen and (max-width:1050px) {
    .center {
        top: 25%;
        left: 35%;
    }
}

@media screen and (max-width:800px) {
    .center {
        top: 25%;
        left: 30%;
    }

    .event-registration-card {
        width: 100%;
    }
}

@media screen and (max-width:560px) {
    .center {
        top: 25%;
        left: 25%;
    }

    .event-registration-card {
        width: 100%;
    }
}

@media screen and (max-width:536px) {
    .center {
        top: 25%;
        left: 20%;
    }
}

@media screen and (max-width:500px) {
    .center {
        top: 25%;
        left: 5%;
        width: 90%
    }
}

@media screen and (max-height:550px) {
    .center {
        top: 10%;


    }
}