.event-section {
  background-color: #eaeaea;
}

.event-header {
  background: linear-gradient(rgba(250, 150, 32, 0.41), rgba(250, 150, 32, 0.41)), url(../img/event-banner.jpg);
  background-repeat: no-repeat;
  /* background-position: 8px top; */
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.page-head-hero {
  font-family: Ubuntu;
  color: #ffffff;
  text-align: center;
  padding: 8%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 3em;
}

.event-section-header {
  margin-top: 30px;
  font-size: 1.7em;
  color: #F2994A;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
}

.event-card {
  /* height: 338px; */
  background: #ffffff;
  
}

.event-card img {
  width: 100%;
  height: 250px;
}

.event-card h4 {
  padding-top: 5px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 17px;
  text-transform: uppercase;
  color: #333333;
  padding-left: 10px;
}

.event-card h3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  color: #EA5800;
  padding-left: 10px;
}



.event-card h5 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  color: #762C14;
  padding-left: 10px;
}

.event-card p {
  cursor: pointer;
  background-color: #EA5800;
  padding: 10px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #F5F5F5;
}

.event-card p:hover {
  background-color: #E5A062;
}

.more-icon {
  padding-left: 10px;
  font-size: 18px;
}

.event-more {
  cursor: pointer;
  background-color: #EA5800;
}

.event-loader{
  margin: 20%;
  text-align: center;
  align-items: center;
  align-content: center;
}

.event-loader p {
  color: #EA5800;
  font-size: 18px;
}
