/* .navbar {
    background-color: rgba(26, 13, 13, 0.4);
    position: sticky;
    padding: 0.8%;
    margin: 2% 3% 3% 3%;
    z-index: 3;
    width: 95vw;
}

.nav-item {
    margin-left: 30px;
    color: #FADDC3;
}

.navbar-nav a:hover {
    color: white;
}

.navbar-brand a {
    color: #FADDC3;
}

.navbar-brand a:hover {
    text-decoration: none;
    color: white;
} */


.main-nav {
  border-radius: 7px;
  background-color: rgba(26, 13, 13, 0.4) !important;
  margin: 2% 3% 3% 3%;
}

.nav-items{
  margin-left: 35%;
  font-size: 0.857em;
  font-family: 'Ubuntu', sans-serif;
  color: #fff !important;
  line-height: 1.714;
}

.nav-item {
  color: #fff !important;
  line-height: 1.714;
}


.nav-brand {
  font-size: 1.1em;
  color: #FADDC3;
  text-decoration: none !important;
  line-height: 1.333;
  padding: 15px;
  font-family: 'Ubuntu', sans-serif;
}

.nav-brand:hover {
  font-size: 1.1em;
  color: #FFFFFF !important;
  line-height: 1.333;
  text-decoration: none;
}

.nav-login {
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding-left: 5px;
}
