.loader{
    margin: 20%;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  
  .loader p {
    color: #EA5800;
    font-size: 18px;
  }
  

.crafter-home {
    background: #f3f3f3;
}

.crafter-status {
    background: #fa840e;
    padding: 1%;
    margin-bottom: 15px;
}

.crafter-status button {
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 10px;
    background: #EA5800;
    padding: 0.5% 1%;
    margin-left: 5px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 1em;
}

.crafter-status button:hover {
    color: #EA5800;
    border: 1px solid #EA5800;
    background: #fff;
}

.crafter-card {
    border-radius: 15px;
    background: #fff;
    padding: 2%;
    margin-bottom: 10px;
}

.crafter-card.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.profile-image {
    width: 100%;
}

.profile-info {

}

.profile-info h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.65em;
    color: #EA5800;
}

.profile-info small {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 1em;
    color: #762C14;
}

.profile-info .location {
    margin-left: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 0.85em;
    color: #762C14;
}

.profile-info .location i{
    font-size: 1.25em;
    margin-right: 5px;
}

.profile-info p {
    margin-top: 5px;
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    font-size: 0.85em;
    text-align: justify;
    color: #762C14;
}

.profile-links {
    border-left: 1px solid #EA5800;
}

.profile-links i {
    color: #EA5800;
    font-size: 1.25em;
    padding: 1%;
}

.profile-btn {
    background: #fff;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 1em;
    color: #fa840e;
    border: 1px solid #fa840e;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 2% 4%;
    cursor: pointer;
}

.profile-btn:hover {
    background: #fa840e;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 1em;
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 2% 4%;
    cursor: pointer;
}


@media (max-width: 45em) {
    .profile-image {
        width: 50%;
    }

    .crafter-card {
        margin-bottom: 10px;
        text-align: center;
    }

    .profile-links {
        border-left: 0;
    }
}