
.teaser {
    /* background: linear-gradient(rgba(250, 150, 32, 0.41), rgba(250, 150, 32, 0.41)), url(../img/collage.jpg); */
    background-color: #E96A2D;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 1%;
    text-align: center;
}

.teaser img {
    width: 45%;
}


.teaser p {
    color: #e4e4e4;
    text-align: center;
}

.teaser a {
    color: #e6e6e6;
}



.teaser-info h2 {
    color: #ec7d3c;
    font-size: 2em;
    font-weight: 400;
}



@media (max-width: 45em) {
    .teaser-info {
        width: 100%;
    }

    .teaser img {
        width: 100%;
    }

}