.teaser {
    
}

.teaser {
    /* background: linear-gradient(rgba(250, 150, 32, 0.41), rgba(250, 150, 32, 0.41)), url(../img/collage.jpg); */
    background-color: #ec6a1e;
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
    padding: 7%;
}

.teaser h1 {
    color: #fff;
    text-align: center;
}

.teaser p {
    color: #333;
    text-align: center;
}

.teaser a {
    color: #555;
}


.teaser-info {
    font-family: 'ubuntu';
    text-align: center;
    background: #fff;
    margin: 0 auto;
    width: 60%;
    padding: 4%;
    border-radius: 10px;
}

.teaser-info h2 {
    color: #ec7d3c;
    font-size: 2em;
    font-weight: 400;
}

.teaser-info h3 {
    color: #ec7d3c;
    font-size: 1.3em;
    font-weight: 400;
}

.teaser-info h4 {
    color: #ec7d3c;
    font-size: 1.35em;
    font-weight: 400;
}

